
<header id="hero">
	<video autoplay loop muted>
		<source src="video.mp4" type="video/mp4">
	</video>
	<div class="content">
		<div class="container">
			<div class="intro-text">
				<h1>BREAKING NEWS - EXPRESS - REAL NEWS</h1>
			</div>
		</div>

	</div>
</header>
<!--==========================
    WHO WE ARE Section
============================-->

<section id="about" class="md-padding">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-4 offset-md-4">
				<div class="section-header">
					
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<div class="about">
					<i class="fas fa-user-secret"></i>
					<h3>Privacy Policy</h3>
					<p>Thank you for visiting a New Express property. This Privacy Policy explains our online
						information practices and the choices you can make about information collected through our
						websites, services, and other offerings (each a "Site" or collectively, the "Sites"). This
						Privacy Policy applies to any Site that links directly to this policy.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="about">
					<i class="fas fa-folder-open"></i>
					<h3>Newsletters</h3>
					<ul>
						<li>Breaking News</li>
						<li>Five Things</li>
						<li>The Good Stuff</li>
						<li>Race Deconstructed</li>
						<li>Pop Life Chronicles with Lisa Respers France</li>
						<li>Reliable Sources</li>
					</ul>

				</div>
			</div>
			<div class="col-md-4">
				<div class="about">
					<i class="fas fa-mobile"></i>
					<h3> Our services</h3>
					<p>Every service offered by NEWS EXPRESS is personalised to meet your brand needs and driven by the
						audience insight our global platforms afford us. With teams of experts in a variety of
						specialisms, we are confident in our ability to utilise our trusted platforms to help you
						achieve your goals.
						From content creation and campaign development, to licensing and distribution deals – NEWS
						EXPRESS is your gateway to brand growth. </p>
					<ul>
						<li> <i class="fab fa-searchengin"></i> Insights</li>
						<li><i class="fas fa-square-root-alt"></i> Strategy</li>
						<li><i class="fas fa-fingerprint"></i> Branding</li>
						<li><i class="far fa-file-alt"></i> Content</li>
						<li><i class="fas fa-tv"></i> Licensing & Distribution</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="statement" class="md-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h4 class="text-black lead">Your story starts here <br>Want to target engaged audiences, licence content
					or create authority around your brand?</h4>
				<button type="button" class="btn btn-outline-secondary">About</button>
			</div>
		</div>
	</div>

</section>

<section id="features" class="md-padding">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-4 offset-md-4">
				<div class="section-header">
					<h2 class="title">headlines</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-20">

				<div class="feature">
					<div class="row">
						<div class="col-md-2 text-right">
							<a href="#"><i class="far fa-edit"></i></a>
						</div>
						<div class="col-md-10">
							<h5>FEATURE 01</h5>
							<h4>LOREM IPSUMAT</h4>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
								laudantium.</p>
						</div>
					</div>
				</div>
				<div class="feature">
					<div class="row">
						<div class="col-md-2 text-right">
							<a href="#"><i class="far fa-edit"></i></a>
						</div>
						<div class="col-md-10">
							<h5>FEATURE 01</h5>
							<h4>LOREM IPSUMAT</h4>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
								laudantium.</p>
						</div>
					</div>
				</div>
				<div class="feature">
					<div class="row">
						<div class="col-md-2 text-right">
							<a href="#"><i class="far fa-edit"></i></a>
						</div>
						<div class="col-md-10">
							<h5>FEATURE 01</h5>
							<h4>LOREM IPSUMAT</h4>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
								laudantium.</p>
						</div>
					</div>
					<div class="feature">
						<div class="row">
							<div class="col-md-2 text-right">
								<a href="#"><i class="far fa-edit"></i></a>
							</div>
							<div class="col-md-10">
								<h5>FEATURE 01</h5>
								<h4>LOREM IPSUMAT</h4>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium.</p>
							</div>
						</div>
					</div>
					<div class="feature">
						<div class="row">
							<div class="col-md-2 text-right">
								<a href="#"><i class="far fa-edit"></i></a>
							</div>
							<div class="col-md-10">
								<h5>FEATURE 01</h5>
								<h4>LOREM IPSUMAT</h4>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium.</p>
							</div>
						</div>
					</div>
					<div class="feature ">
						<div class="row">
							<div class="col-md-2 text-right">
								<a href="#"><i class="far fa-edit"></i></a>
							</div>
							<div class="col-md-10">
								<h5>FEATURE 01</h5>
								<h4>LOREM IPSUMAT</h4>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
									laudantium.</p>
							</div>
						</div>
						<div class="feature">
							<div class="row">
								<div class="col-md-2 text-right">
									<a href="#"><i class="far fa-edit"></i></a>
								</div>
								<div class="col-md-10">
									<h5>FEATURE 01</h5>
									<h4>LOREM IPSUMAT</h4>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
										doloremque laudantium.</p>
								</div>
							</div>
						</div>
						<div class="feature">
							<div class="row">
								<div class="col-md-2 text-right">
									<a href="#"><i class="far fa-edit"></i></a>
								</div>
								<div class="col-md-10">
									<h5>FEATURE 01</h5>
									<h4>LOREM IPSUMAT</h4>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
										doloremque laudantium.</p>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
</section>